<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.27.3" targetFramework="net47" />
  <package id="AWSSDK.KinesisFirehose" version="3.3.6.6" targetFramework="net47" />
  <package id="AWSSDK.SecurityToken" version="3.3.4.19" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.6" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.6" targetFramework="net47" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.0.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Hosting" version="4.0.0" targetFramework="net47" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net47" />
  <package id="NDesk.Options.TypedOptionSet" version="1.0.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="Ninject" version="3.3.4" targetFramework="net47" />
  <package id="Ninject.Extensions.NamedScope" version="3.3.0" targetFramework="net47" />
  <package id="Ninject.Web.Common" version="3.3.1" targetFramework="net47" />
  <package id="Ninject.Web.Common.OwinHost" version="3.3.1" targetFramework="net47" />
  <package id="Ninject.Web.WebApi" version="3.3.0" targetFramework="net47" />
  <package id="Ninject.Web.WebApi.OwinHost" version="3.3.0" targetFramework="net47" />
  <package id="NLog" version="4.5.10" targetFramework="net47" />
  <package id="Owin" version="1.0" targetFramework="net47" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net47" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net47" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net47" />
  <package id="System.Security.Principal.Windows" version="4.5.1" targetFramework="net47" />
</packages>