<?xml version="1.0" encoding="utf-8" ?>
<count4net
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xs:schemaLocation="http://schemas.desire2learn.com/xml/schemas/count4net.xsd"
		xmlns="http://schemas.desire2learn.com/xml/schemas/count4net.xsd"
	>
	<PerfMon>
		<Category Name="Winlogbeat Firehose Proxy" Guid="e252aabe-eeec-488a-b948-1b22c25dda2b">

			<Counter Name="PutRecordBatch Requests" Guid="4fdb7f00-09d6-42d1-ba4a-6fc2ef750e7f" Type="Rate" />
			<Counter Name="PutRecordBatch Errors" Guid="fdd325ae-c32c-4044-a131-64bd7d0f27bc" Type="Rate" />

			<Counter Name="Records Put" Guid="4d4477b7-c194-4ae4-967c-efc952f39370" Type="Rate" />
			<Counter Name="Records Dropped" Guid="9e2e7eab-b028-4002-b404-b8f0584b40e2" Type="Rate" />
			<Counter Name="Records Failed" Guid="87db4191-eb02-433e-8b44-d6a05d92d1fd" Type="Rate" />

		</Category>
	</PerfMon>
</count4net>
