<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target
				name="console"
				layout="${longdate} ${message} ${exception:format=tostring}"
				xsi:type="Console"
			/>

		<target
				xsi:type="File"
				name="jsonFile"
				fileName="WinlogbeatFirehoseProxy.Console.log"
				archiveFileName="WinlogbeatFirehoseProxy.Console.{####}.log"
				archiveAboveSize="1000000"
				archiveNumbering="Sequence"
				maxArchiveFiles="9"
			>
			<layout xsi:type="JsonLayout" includeAllProperties="true">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception}" />
				<attribute name="eventProperties" encode="false" >
					<layout type="JsonLayout" includeAllProperties="true"  maxRecursionLimit="20" />
				</attribute>
			</layout>
		</target>

	</targets>

	<rules>
		<logger
				name="*"
				minlevel="Info"
				writeTo="jsonFile"
			/>
		<logger
				name="*"
				minlevel="Info"
				writeTo="console"
			/>
	</rules>

</nlog>